@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");

:root {
  --color-primary: hsl(192.63, 64.41%, 76.86%, 1);
  --color-primary-light: hsl(191.38, 61.7%, 81.57%);
  --color-secondary: hsl(327.72, 81.92%, 65.29%);
  --color-secondary-light: hsl(336.86, 77.78%, 82.35%);
  --color-green: hsl(76.18, 78.07%, 55.29%);
  --color-violet: hsl(299.31, 35.51%, 48.04%);
  --color-violet-dark: hsl(299.31, 35.51%, 20.04%);
  --color-yellow: hsl(44.62, 98.03%, 60.2%);
  --color-gray: hsl(192, 65.22%, 95.49%);

  --fs-900: 4.5rem;
  --fs-800: 3.5rem;
  --fs-700: 3rem;
  --fs-600: 2.7rem;
  --fs-500: 2rem;
  --fs-400: 1.5rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  /* --xl: 1500px; */
  /* --mb: 1000px; */
  /* --ss: 800px; */
  /* --xs: 600px; */
}

@media screen and (max-width: 1500px) {
  :root {
    --fs-900: 4rem;
    /* --fs-800: 3.5rem; */
    /* --fs-700: 3rem; */
    --fs-600: 2.3rem;
    --fs-500: 1.7rem;
    --fs-400: 1.5rem;
    --fs-200: 0.775rem;
    /* --fs-100: 0.75rem; */
  }
}
@media screen and (max-width: 1000px) {
  :root {
    --fs-900: 3.7rem;
    /* --fs-800: 3.5rem; */
    /* --fs-700: 3rem; */
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1.3rem;
    --fs-200: 0.755rem;
    /* --fs-100: 0.75rem; */
  }
}

@media screen and (max-width: 800px) {
  :root {
    --fs-900: 3.3rem;
    /* --fs-800: 3.5rem; */
    /* --fs-700: 3rem; */
    --fs-600: 2rem;
    --fs-500: 1.4rem;
    --fs-400: 1.2rem;
    --fs-200: 0.755rem;
    /* --fs-100: 0.75rem; */
  }
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.btn {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
}

body {
  font-family: "Work Sans", sans-serif;
}

.app {
  height: 100%;
  min-height: 100vh;
  padding-bottom: 4em;
}

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}
.flex-c {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 2rem);
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-100 {
  font-size: var(--fs-100);
}
.fw-l {
  font-weight: 300;
}
.fw-d {
  font-weight: 400;
}
.fw-m {
  font-weight: 500;
}
.fw-b {
  font-weight: 700;
}
.text-dark {
  color: var(--color-violet-dark);
}

.text-light {
  color: var(--color-violet);
}
.text-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.grid-container {
  display: grid;
  column-gap: 1em;
  row-gap: 2em;
  grid-template-columns:
    minmax(3em, 5em) minmax(min-content, 40rem) minmax(min-content, 40rem)
    minmax(1em, 1fr);
}

.btn-resume {
  background-color: var(--color-secondary);
  color: var(--color-primary-light);
  padding-inline: 1rem;
  border-radius: 6px;
  aspect-ratio: 2;
  transition: all 500ms ease-out;
}

.btn-resume:hover,
.btn-resume:focus {
  outline: 0;
  background-color: var(--color-violet-dark);
  color: var(--color-secondary);
}

.btn-contact {
  background-color: var(--color-yellow);
  color: var(--color-color-violet-dark);
  padding-inline: 1rem;
  border-radius: 6px;
  aspect-ratio: 3;
  transition: all 500ms ease-out;
}

.btn-contact:hover,
.btn-contact:focus {
  outline: 0;
  background-color: var(--color-gray);
}
